In [ ]:
import sqlite3

# Connect to the database (if it doesn't exist, it will be created)
conn = sqlite3.connect('alpr.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the 'information' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS information (
        license_number varchar(20) primary key,
        chassis_number varchar(20),
        engine_number varchar(20),
        car_company varchar(20),
        car_model varchar(20),
        year_of_manufacture INTEGER,
        owner_name varchar(20),
        phone_number INTEGER(10),
        Address varchar(20),
        image_path varchar(100)
    )
''')
# Commit the changes and close the connection
conn.commit()
print("CREATED")
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('alpr.db')
cursor = conn.cursor()

# Insert a row of values into the 'information' table

values = ('21BH2345AA', '123456789', '987654321', 'Maruthi', 'Swift', 2018, 'CB', 9008365771, '11th Cross Indranagar bengaluru Karnataka',"C:\mp\cb.jpg")
cursor.execute("INSERT INTO information VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", values)


# Commit the changes and close the connection
conn.commit()
print("DATA INSERTED SUCCESFULLY")
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('alpr.db')
cursor = conn.cursor()

# Insert a row of values into the 'information' table
values = ( 'MH20EE7598', '277297279', '1245927222', 'Skoda', 'Rapid', 2023,'CHANDU S GOWDA', 6362185293, 'Malathalli Nagarbahavi Banglore Karnataka',"C:\mp\csg.jpg")
cursor.execute("INSERT INTO information VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?,?)", values)

# Commit the changes and close the connection
conn.commit()
print("DATA INSERTED SUCCESFULLY")
conn.close()

In [1]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('alpr.db')
cursor = conn.cursor()

# Retrieve data from the 'information' table
cursor.execute("SELECT * FROM information")
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

('MH20EE7598', '277297279', '1245927222', 'Skoda', 'Rapid', 2023, 'CHANDU S GOWDA', 6362185293, 'Malathalli Nagarbahavi Banglore Karnataka', 'C:\\mp\\csg.jpg')
('21BH2345AA', '123456789', '987654321', 'Maruthi', 'Swift', 2018, 'CB', 9008365771, '11th Cross Indranagar bengaluru Karnataka', 'C:\\mp\\cb.jpg')

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('alpr.db')
cursor = conn.cursor()

# Delete all records from the 'information' table
cursor.execute("DELETE FROM ")

# Commit the changes
conn.commit()
print("DATA DELETED SUCCESFULLY")
# Close the connection
conn.close()